<template>
  <v-app>
    <notification/>
    <v-app-bar app>
      <v-toolbar-title>
        <router-link to="/">
          <v-btn text x-large>Cactus</v-btn>
        </router-link>
      </v-toolbar-title>
      <v-dialog v-model="dialog" width="500">
        <template v-slot:activator="{ on }">
          <v-btn text v-on="on">Play</v-btn>
        </template>

      <v-card>
        <v-container fluid>
          <v-row>
            <v-col>
              <!-- New game -->
              <v-btn text @click="newGame()" color="success">New game</v-btn>
            </v-col>
            <v-divider vertical></v-divider>
            <v-col>
              <!-- Join game -->
              <v-text-field
                counter
                label="Game ID"
                @input="gameId = $event.toUpperCase()"
                maxlength="8"
                outlined
                placeholder="DOSW4SUW"
                :rules="[rules.id]"
                :value="gameId"></v-text-field>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
      </v-dialog>
      <v-spacer></v-spacer>
    </v-app-bar>
    <v-content>
      <v-container>
        <router-view :key="$route.path"/>
      </v-container>
    </v-content>
    <v-footer padless>
      <v-col class="text-center">
        <span class="subheading ml-3" style="color: grey;">{{ version }}</span>
      </v-col>
    </v-footer>
  </v-app>
</template>

<script>
import { VApp, VCard, VDialog, VDivider, VFooter, VSpacer, VCol, VRow, VTextField, VToolbarTitle, VBtn, VContent, VContainer, VAppBar } from 'vuetify/lib'
import Notification from './Notification.vue'
import { mapActions } from 'vuex'

export default {
  components: {
    Notification,
    VApp,
    VAppBar,
    VBtn,
    VCard,
    VCol,
    VContainer,
    VContent,
    VDialog,
    VDivider,
    VFooter,
    VRow,
    VSpacer,
    VTextField,
    VToolbarTitle
  },
  name: 'app',
  data () {
    return {
      dialog: false,
      gameId: '',
      rules: {
        id: value => {
          const pattern = /^[A-Z2-7]{8}$/
          return pattern.test(value)
        }
      }
    }
  },
  computed: {
    version () {
      return VERSION
    }
  },
  methods: {
    ...mapActions(["notify", "update"]),
    newGame() {
      this.$http
        .post("/api/games")
        .then((r) => {
          this.update(r.data)
          this.$router.push({
            name: "lobby",
            params: { id: r.data.id }
          })
          this.dialog = false
        })
        .catch((r) => this.notify({
          closable: true,
          color: "red--text text--accent-3",
          msg: r,
          timeout: 0
        }))
    }
  }
}
</script>
