<template>
  <div>
    <v-container>
      <v-dialog
        hide-overlay
        persistent
        :value="card > 0"
        width="300">
        <v-card light>
          <v-container>
            <v-row><v-col>{{card}}</v-col></v-row>
          </v-container>
          <v-card-actions>
          <v-btn text @click="keepDraw()">Keep</v-btn>
          <v-btn text @click="discardDraw()">Discard</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-row>
        <v-col>
          <div v-for="p in players" :key="p.id">
            {{p.name ? p.name : `Player ${p.position}`}}
          </div>
        </v-col>
        <v-divider vertical></v-divider>
        <v-col>
          <div>Stacks</div>
          <!-- Visible stack -->
          <v-btn
            :disabled="game.turn % players.length !== position">
            {{game.stack[game.stack.length - 1]}}</v-btn>
          <!-- Hidden stack -->
          <v-btn
            @click="draw()"
            :disabled="game.turn % players.length !== position">
            Draw</v-btn>
          <!-- Hand -->
          <div>Hand</div>
          <span>{{ hand }}</span>
        </v-col>
        <v-col>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import { VCard, VCardActions, VContainer, VRow, VBtn, VDialog, VCol, VDivider, VProgressLinear } from 'vuetify/lib'
import { mapActions, mapGetters } from 'vuex'

export default {
  components: {
    VBtn,
    VCard,
    VCardActions,
    VCol,
    VContainer,
    VDialog,
    VDivider,
    VProgressLinear,
    VRow
  },
  name: "game",
  data () {
    return {
      card: 0,
      events: [],
      game: {
        stack: [],
        turn: -1
      },
      players: [],
      socket: null
    }
  },
  computed: mapGetters(["hand", "id", "position"]),
  beforeRouteUpdate(to, from, next) {
    if(this.socket)
      this.socket.close(1000)
    next()
  },
  beforeRouteLeave(to, from, next) {
    if(this.socket)
      this.socket.close(1000)
    next()
  },
  methods: {
    ...mapActions(["notify"]),
    discardDraw() {
      const update = {
        stack: Array.from(this.game.stack),
        turn: this.game.turn + 1
      }
      update.stack.push(this.card)
      this.$http
        .put(`/api/games/${this.$route.params.id}`, update)
        .then((r) => {
          this.game = r.data
          this.card = 0
        })
        .catch((r) => {
          this.notify({
            closable: true,
            color: "red--text text--accent-3",
            msg: r,
            timeout: 0
          })
        })
    },
    draw() {
      this.$http
        .post(`/api/games/${this.$route.params.id}/events`, {t: "draw"})
        .then((r) => {
          this.card = r.data.card
        })
        .catch((r) => {
          this.notify({
            closable: true,
            color: "red--text text--accent-3",
            msg: r,
            timeout: 0
          })
        })
    },
    getGame() {
      this.$http
        .get(`/api/games/${this.$route.params.id}`)
        .then((r) => {
          this.game = r.data
          if (this.game.turn >= 0 && this.players.length === 0) {
            this.getPlayers()
          }
        })
        .catch((r) => {
          this.$router.push("/")
            this.notify({
              closable: true,
              color: "red--text text--accent-3",
              msg: r,
              timeout: 0
            })
        })
    },
    getPlayers() {
      this.$http
        .get(`/api/games/${this.$route.params.id}/players`)
        .then((r) => {
          this.players = r.data
        })
    },
    getSocket() {
      if(!this.socket) {
        this.socket = new WebSocket(`ws://localhost:8080/api/games/${this.$route.params.id}/players/${this.id}`)
        this.socket.onmessage = (evt) => {
          this.getGame()
        }
        this.socket.addEventListener('open', (evt) => {
          this.getGame()
        })
      }
    },
    keepDraw() {
      this.card = 0
    },
  },
  mounted () {
    if(this.id)
      this.getSocket()
    else
      this.$router.push({
        name: "lobby",
        params: {
          id: this.$route.params.id
        }
      })
  }
}
</script>
