<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
