<template>
  <div>
    <v-container>
      <v-row>
        <v-col>
          Game {{ this.$route.params.id }}
        </v-col>
        <v-col>
          <v-btn color="green" @click="start()">Start</v-btn>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="4">
          <v-text-field
            label="How would you like to be called?"
            outlined
            ref="input"
            rounded
            v-model="n"
            @keypress.enter="putPlayer()">
          </v-text-field>
        </v-col>
        <v-spacer></v-spacer>
        <v-col cols="4">
          <div>
            Registered players
          </div>
          <ul>
            <li v-for="p in players" :key="p.position">
              {{ p | playerName }}
            </li>
          </ul>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import { VBtn, VCol, VContainer, VRow, VSpacer, VTextField } from 'vuetify/lib'
import { mapActions, mapGetters } from 'vuex'

export default {
  components: {
    VBtn,
    VCol,
    VContainer,
    VRow,
    VSpacer,
    VTextField
  },
  name: "lobby",
  data () {
    return {
      game: {},
      n: "",
      players: [],
      socket: null
    }
  },
  beforeRouteUpdate(to, from, next) {
    if(this.socket)
      this.socket.close(1000)
    next()
  },
  beforeRouteLeave(to, from, next) {
    if(this.socket)
      this.socket.close(1000)
    next()
  },
  computed: mapGetters(["id", "player"]),
  filters: {
    playerName(p) {
      return p.name === "" ? `Player ${p.position}` : p.name
    }
  },
  methods: {
    ...mapActions(["notify", "update"]),
    getGame() {
      this.$http
        .get(`/api/games/${this.$route.params.id}`)
        .then((r) => {
          this.game = r.data
          if(this.game.turn >= 0) {
            const nextState = {
              name: "game",
              params: {
                id: this.$route.params.id
              }
            }
            this.$router.push(nextState)
          }
        })
        .catch((r) => {
          this.$router.push("/")
          this.notify({
            closable: true,
            color: "red--text text--accent-3",
            msg: r,
            timeout: 0
          })
        })
    },
    getPlayer() {
      this.$http
        .get(`/api/games/${this.$route.params.id}/players/self`)
        .then((r) => {
          this.update(r.data)
          this.n = this.$options.filters.playerName(this.player)
          this.getSocket()
        })
        .catch((r) => {
          if(r.response.status === 404) {
            this.postPlayer()
              .then(() => this.getSocket())
          } else
            this.notify({
              closable: true,
              color: "red--text text--accent-3",
              msg: r,
              timeout: 0
            })
        })
    },
    getPlayers() {
      this.$http
        .get(`/api/games/${this.$route.params.id}/players`)
        .then((r) => this.players = r.data)
    },
    getSocket() {
      if(!this.socket) {
        this.socket = new WebSocket(`ws://localhost:8080/api/games/${this.$route.params.id}/players/${this.id}`)
        this.socket.onmessage = (evt) => {
          this.getPlayers()
          this.getGame()
        }
        this.socket.onopen = (evt) => {
          this.getPlayers()
          this.getGame()
        }
      }
    },
    postPlayer() {
      return this.$http
        .post(`/api/games/${this.$route.params.id}/players`)
        .then((r) => {
          this.update(r.data)
          this.n = this.$options.filters.playerName(this.player)
        })
        .catch((r) => {
          if(r.response.status === 404) {
            this.$router.push("/")
            this.notify({
              closable: true,
              color: "red--text text--accent-3",
              msg: "You've been redirected. The previous link has no game associated with.",
              timeout: 5000
            })
          } else {
            this.notify({
              closable: true,
              color: "red--text text--accent-3",
              msg: r.response.data.msg,
              timeout: 5000
            })
          }
          throw new Error()
        })
    },
    putPlayer() {
      const body = {
        gameId: this.$route.params.id,
        name: this.n
      }
      this.$http
        .put(`/api/games/${this.$route.params.id}/players/${this.id}`, body)
        .then((r) => {
          this.update(r.data)
          this.n = this.$options.filters.playerName(this.player)
        })
        .catch((r) => {
          this.notify({
            closable: true,
            color: "red--text text--accent-3",
            msg: r,
            timeout: 0
          })
        })
    },
    start() {
      const update = {
        stack: this.game.stack,
        turn: 0
      }
      this.$http
        .put(`/api/games/${this.$route.params.id}`, update)
        .then(() => {
          const nextState = {
            name: "game",
            params: {
              id: this.$route.params.id
            }
          }
          this.$router.push(nextState)
      })
    }
  },
  mounted () {
    this.$nextTick(() => this.$refs.input.focus())
    this.getPlayer()
  }
}
</script>
